<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HouseDealMapper">

	<select id="list" resultType="com.ssafy.dto.HouseDeal">
		SELECT no, dong, AptName, code, dealAmount, buildYear, dealYear, dealMonth, dealDay, area, floor, jibun, type, rentMoney
		FROM ssafydb.housedeal
		ORDER BY no
	</select>
	
	<select id="detail" resultType="com.ssafy.dto.HouseDeal">
		SELECT *
		FROM ssafydb.housedeal
		WHERE no = #{no}
	</select>
	
	<select id="searchDong" resultType="com.ssafy.dto.HouseDeal">
		SELECT *
		FROM ssafydb.housedeal
		WHERE dong LIKE CONCAT('%', #{word}, '%')
		ORDER BY no
	</select>
	
	<select id="searchApt" resultType="com.ssafy.dto.HouseDeal">
		SELECT *
		FROM ssafydb.housedeal
		WHERE AptName LIKE CONCAT('%', #{word}, '%')
		ORDER BY no
	</select>
	
</mapper>
