<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserInfoMapper">

	<select id="login" parameterType="com.ssafy.dto.UserInfoDTO" resultType="int">
		SELECT count(*) cnt FROM ssafydb.userinfo
		WHERE id = #{id}
		AND pw = #{pw}
	</select>

</mapper>
